:root {
    --color-scale-black: #010409;

    --color-scale-white: #ffffff;

    --color-scale-gray-0: #f0f6fc;

    --color-scale-gray-1: #c9d1d9;

    --color-scale-gray-2: #b1bac4;

    --color-scale-gray-3: #8b949e;

    --color-scale-gray-4: #6e7681;

    --color-scale-gray-5: #484f58;

    --color-scale-gray-6: #30363d;

    --color-scale-gray-7: #21262d;

    --color-scale-gray-8: #161b22;

    --color-scale-gray-9: #0d1117;

    --color-scale-blue-0: #cae8ff;

    --color-scale-blue-1: #a5d6ff;

    --color-scale-blue-2: #79c0ff;

    --color-scale-blue-3: #58a6ff;

    --color-scale-blue-4: #388bfd;

    --color-scale-blue-5: #1f6feb;

    --color-scale-blue-6: #1158c7;

    --color-scale-blue-7: #0d419d;

    --color-scale-blue-8: #0c2d6b;

    --color-scale-blue-9: #051d4d;
}

body {
    margin: auto;
    height: 100vh;
    background-color: var(--color-scale-gray-0);
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background-color: var(--color-scale-gray-8);
    display: flex;
    width: 100%;
    margin: auto;
    height: 6vh;
}

header div:first-child {
    display: flex;
    margin: 0 0 50px 20px;
    color: var(--color-scale-gray-1);
}

header div:first-child h3 {
    margin-left: 10px;
}

header div:nth-child(2) {
    display: grid;
    margin-right: 20px;
    margin-left: auto;
}


header div div {
    display: flex;
    color: var(--color-scale-gray-2);
}

header div div h4 {
    margin-right: 10px;
}

header div div h5 {
    color: var(--color-scale-gray-2);
}

button {
    cursor: pointer;
}

a {
    transition: .5s;
}

a:any-link {
    color: var(--color-scale-blue-3);
    text-decoration: none;
}

a:hover {
    color: var(--color-scale-blue-5);
}

.d-none {
    display: none !important;
}

#bodyMain {
    margin: 0.5em;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
        "log lista"
        "log botoes";
    gap: 10px;
    height: 90vh;
    width: 98vw;
}

#log {
    grid-area: log;
    background-color: var(--color-scale-gray-8);
    color: var(--color-scale-gray-2);
    height: 100%;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

#log span {
    color: rgba(0, 255, 0, 0.5);
}

#lista span {
    color: var(--color-scale-blue-7)
}

#lista {
    grid-area: lista;
    background-color: var(--color-scale-gray-2);
    color: var(--color-scale-gray-8);
    height: 70vh;
    width: 100%;
}

#lista::-webkit-scrollbar-track,
#log::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#lista::-webkit-scrollbar,
#log::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color-scale-gray-8);
}

#lista::-webkit-scrollbar-thumb,
#log::-webkit-scrollbar-thumb {
    background-color: var(--color-scale-gray-5);
    border: 1px solid white;
}


#log,
#lista {
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
}

#botoes {
    grid-area: botoes;
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

#changeVarBtn {
    width: 5%;
    color: var(--color-scale-gray-2) !important;
    background-color: var(--color-scale-gray-5) !important;
}

button {
    height: 30%;
    width: 30%;
    background-color: var(--color-scale-gray-2);
    border: none;
    color: var(--color-scale-gray-8);
    margin-inline: 10px;
}

#revertCommitId {
    height: 20%;
    margin-left: -2rem;
}

#revertBtn {
    color: var(--color-scale-gray-2) !important;
    background-color: var(--color-scale-gray-8) !important;
}

#modal {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 350px;
    background-color: var(--color-scale-gray-6);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: "header""body""footer";
    -webkit-box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.5);
}

.modal-header {
    grid-area: header;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--color-scale-gray-4);
    display: flex;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-header h2 {
    margin: 0 0 0 20px;
    padding: 0;
    color: #fff;
}

.modal-body {
    grid-area: body;
    padding: 20px;
}

.modal-body p {
    color: var(--color-scale-gray-2);
    font-size: large;
}

.modal-footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-footer button {
    height: 30px !important;
}

.modal-footer button:first-child {
    background-color: #d1402f;
    color: white;
    font-weight: bolder;
}

.modal-footer button:last-child {
    background-color: #6cd17a;
    color: white;
    font-weight: bolder;
}

.bg-load {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
}

div[class*="bg-load"][class*="active"] {
    display: block !important;
}

#configInputs {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#configInputs div {
    margin-bottom: 5px;
}

.loading-spinner {
    background: #333;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    display: none;
}

.loading-spinner.active {
    display: block;
}

#hourglass {
    /* centraliza no meio da tela */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
}